extends base

block content
    div(class="jumbotron")
        h1 Hello, world!
        a(class="btn btn-primary" href="/foo", title="title") Foo link
            span(class="badge badge-secondary") New
    div(class="container")        
        div(class="alert alert-primary" role="alert")
            | A simple primary alert—check it out!